@mixin trim() {
    margin: 0;
    padding: 0;
}

@mixin border-box() {
    box-sizing: border-box;
}

@mixin app-box() {
    margin-top: 3rem;
}

@mixin component-stat() {
    border-radius: 20px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}