@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans:wght@400;700&display=swap');

$font-header: "Lobster";
$font-body: "Work Sans";
$blue-light: rgb(89, 89, 255);
$blue-normal: rgb(10, 79, 240);
$blue-dark: rgb(0, 59, 195);
$grey-light: rgb(248, 248, 248);